// RESETS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
  background: #222;
  color: #eee;
}

// Main layout
.img-container {
  max-width: 620px;
  margin: 0 auto;
  background: #fff;
  border: 5px solid #fff;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0.5rem;

  // image
  img {
    width: 100%;
  }

  .main-img {
    grid-column: 1 / span 6;
    grid-row: 1 / span 6;
  }

  .img--1 {
    grid-column: 7 / 8;
    grid-row: 1 / 2;
  }

  .img--2 {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
  }

  .img--3 {
    grid-column: 7 / 8;
    grid-row: 3 / 4;
  }

  .img--4 {
    grid-column: 7 / 8;
    grid-row: 4 / 5;
  }

  .img--5 {
    grid-column: 7 / 8;
    grid-row: 5 / 6;
  }

  .footprint {
    grid-column: 7 / 8;
    grid-row: 6 / 8;
    color: #222;
    background: #fff;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
  }

  .controls {
    grid-column: 1 / 7;
    grid-row: 7 / 8;
  }
}

// FILTER CONTROLS
.controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  grid-row-gap: 0.6rem;
  background: #eee;
  color: #111;
  padding: 1.5rem;

  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  input[type="range"] {
    width: 130px;
  }
}

// RESET BUTTON
.reset {
  border: 0;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  background: #bbb;
  color: #111;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    color: #333;
  }

  &:focus {
    outline: none;
  }
}

// FADE ANIMATION
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0.4;
  animation: fadeIn 0.4s ease-in 1 forwards;
}

// MEDIA QUERIES
@media screen and (max-width: 580px) {
  .img-container {
    .footprint {
      grid-row: 6 / span 1;
      writing-mode: horizontal-tb;
    }

    .controls {
      grid-column: 1 / 8;
    }
  }
}

@media screen and (max-width: 470px) {
  html {
    font-size: 50%;
  }

  .img-container {
    .controls {
      grid-template-columns: 1fr;
      .filter,
      button {
        width: 220px;
        margin: 0 auto;
      }
      button {
        padding: 1rem 0;
        margin: 1rem auto;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .img-container {
    grid-template-rows: repeat(4, 1fr);

    .main-img {
      grid-column: 1 / span 7;
      grid-row: 1 / span 5;
    }

    .img--1 {
      grid-column: 1 / span 1;
      grid-row: 6 / span 1;
    }

    .img--2 {
      grid-column: 2 / span 1;
      grid-row: 6 / span 1;
    }

    .img--3 {
      grid-column: 3 / span 1;
      grid-row: 6 / span 1;
    }

    .img--4 {
      grid-column: 4 / span 1;
      grid-row: 6 / span 1;
    }

    .img--5 {
      grid-column: 5 / span 1;
      grid-row: 6 / span 1;
    }

    .footprint {
      grid-column: 6 / span2;
      grid-row: 6 / span 1;
    }
  }
}
